    <div id="cabecera" class="<?=$this->isAuth?'rol-'.$this->authData['usuario']->rol:''?>">
        <h1>Zend Framework</h1>
        <div id="esquina">

            Bienvenido <?=$this->isAuth?$this->authData['usuario']->nombre:'visitante'?>
            <?=$this->isAuth?'('.$this->authData['usuario']->rol.')':''?>

            [
            <?php if( $this->isAuth ): ?>
                <a href="<?=$this->url(array('action'=>'logout', 'controller'=>'test'),null,true)?>">Logout</a>
            <?php else: ?>
                <a href="<?=$this->url(array('action'=>'login', 'controller'=>'test'),null,true)?>">Login</a> |
               <a href="<?=$this->url(array('action'=>'registrar', 'controller'=>'index'),'default',true)?>">Registrarse</a>
            <?php endif; ?>
            ]
            <?=date("Y-m-d H:i:s");?>
        </div>
    </div>
