    <div id="pie">
        <span>Desarrollo de Aplicaciones web con Zend Framework</span><br />
        [
        <a href="<?=$this->url(array('action'=>'reset', 'controller'=>'test'),null,true)?>">Reset DB</a> |
        <a href="<?=$this->url(array('action'=>'form', 'controller'=>'test'),null,true)?>">Forms</a> |
        <a href="<?=$this->url(array('action'=>'config-and-log', 'controller'=>'test'),null,true)?>">Config And Log</a> |
        <a href="<?=$this->url(array('action'=>'index', 'controller'=>'jquery'),null,true)?>">jQuery Demo</a>
        ]
    </div>