<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <?=$this->headTitle()?>
    <?=$this->headLink()?>
    <?=$this->headScript()?>
</head>
<body>
    <div id="contenido">
        <?=$this->layout()->content?>
    </div>
</body>
</html>