
<html>
    <head>
        <?= $this->headMeta() ?>        
        <?= $this->headTitle() ?>        
        <?= $this->headLink() ?>        
        <?= $this->headScript() ?>       
    </head>
    <body>
       
        <div id="contenido">
            
            <?= $this->layout()->content ?>
        </div>
        
            
        </div>
        
    </body>
</html>